.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #486Cff;
  font-family: 'Helvetica', Arial, sans-serif;
}

.App-link {
  color: #61dafb;
}

.api-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #486cff;
  font-size: calc(2px + 2vmin);
  font-family: 'Helvetica', Arial, sans-serif; /* Consistent font */
  text-decoration: none;
}

.p7y-info {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px 22px;
  border-radius: 0;
  color: #ffffff;
  background-color: #555555;
  font-size: calc(6px + 2vmin);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
